body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

.start-btn {
    font-size: 1.5rem;
    padding: 10px 20px;
}

.top-element {
    min-height: 40vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.game-settings {
    .players {
        display: flex;
        gap: 10vw;

        .side1, .side2 {
            display: flex;
            flex-direction: column;
            align-items: center;

            .player, .difficulty {
                display: flex;
                gap: 1vw;
            }

            .player {
                margin-bottom: 2.5vh;
            }

            label {
                display: flex;
                flex-direction: column;
                gap: 5px;
            }
        }
    }
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 8rem);
    grid-template-rows: repeat(3, 8rem);
    gap: 0.25rem;

    button {
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 4rem;
    }
}